[submodule "Fajar Nur Prasetyo (1122100007)/UTS1_Struktur_Data"]
	path = Fajar Nur Prasetyo (1122100007)/UTS1_Struktur_Data
	url = https://github.com/petrikss/05941790-13e6-4169-b3dd-4e4e3316e86c
[submodule "Fajar Nur Prasetyo (1122100007)/UAS1_Struktur_Data"]
	path = Fajar Nur Prasetyo (1122100007)/UAS1_Struktur_Data
	url = https://github.com/petrikss/05941790-13e6-4169-b3dd-4e4e3316e86c
[submodule "Fajar Nur Prasetyo (1122100007)/UTS2_Pemrograman_Berorientasi_Objek"]
	path = Fajar Nur Prasetyo (1122100007)/UTS2_Pemrograman_Berorientasi_Objek
	url = https://github.com/petrikss/ac3c5a84-85a6-4bfd-b83e-1d6a588474ca
