[submodule "Fajar Nur Prasetyo (1122100007)/UTS1_Struktur_Data"]
	path = Fajar Nur Prasetyo (1122100007)/UTS1_Struktur_Data
	url = https://github.com/petrikss/bf44d0ce-53dc-44ee-b88c-7aeee370f080
[submodule "Fajar Nur Prasetyo (1122100007)/UAS1_Struktur_Data"]
	path = Fajar Nur Prasetyo (1122100007)/UAS1_Struktur_Data
	url = https://github.com/petrikss/05941790-13e6-4169-b3dd-4e4e3316e86c
[submodule "Salsabila Dwi Hasna (1122040034)/Tugas2-1_Pemrograman_Visual"]
	path = Salsabila Dwi Hasna (1122040034)/Tugas2-1_Pemrograman_Visual
	url = https://github.com/petrikss/f2324f05-a364-4fdf-833f-881f120ce73e
[submodule "Salsabila Dwi Hasna (1122040034)/Tugas2-2_Pemrograman_Visual"]
	path = Salsabila Dwi Hasna (1122040034)/Tugas2-2_Pemrograman_Visual
	url = https://github.com/petrikss/deb9012a-ced0-4d05-ba1b-b70d5abd7900
